/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
.idea
config/bot.yml

# Ignore databases
nexy_irc_development
nexy_irc_test
nexy_irc_production

